.display-cards-fitter{
    margin: 1px;
    padding: 1px;

    width: 100%;
}

.display-cards-container  {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
  }
  
.display-cards-container .display-cards-list {
    display: block;
    text-decoration: none; 
    text-align: right;
    background-color: white;
}

.display-cards-container .display-cards-list .display-cards-box{
    width: 400px; 
    height: 130px; 
    box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79); 
    padding: 20px; 
    border-radius: 4px ;
}

.display-cards-container .display-cards-list .display-green{
    background-color:rgb(6, 155, 38);
    color: white;
}

.display-cards-container .display-cards-list .display-red{
    background-color: red;   
}

.display-cards-container .display-cards-list .display-blue{
    background-color: blue;
}


.display-cards-container .display-cards-list .display-card-title-default{
    font-size: 30px;
    color: black;
} 

.display-cards-container .display-cards-list .display-card-text-default{
    font-size: 17px;
    color: black;
}


.display-cards-container .display-cards-list .display-card-title-override{
    font-size: 30px;
    color: white;
} 

.display-cards-container .display-cards-list .display-card-text-override{
    font-size: 17px;
    color: white;
}


/*List Text Displays for Tables to notify status */



.completed-task{
    color:blue
}

.unCompleted-task{
    color:red
}

@media (max-width: 700px){
    .display-cards-container  {
        grid-template-columns: 1fr;
      }   
}

@media (max-width: 769px){
    .display-cards-container  {
        grid-template-columns: repeat(4, 1fr);
    }   
}
