.display-cards-container  {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0px;
  }
  
.display-cards-container .display-cards-list {
    display: block;
    text-decoration: none; 
    text-align: right;
    background-color: white;
    
}

.display-cards-container .display-cards-list .display-cards-box{
    width: 400px; 
    height: 130px; 
    box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79); 
    padding: 20px; 
    border-radius: 4px ; 
    margin-bottom: 20px;
}

.display-cards-container .display-cards-list .display-green{
    background-color:rgb(6, 155, 38);
    color: white;
}

.display-cards-container .display-cards-list .display-red{
    background-color: red;   
}

.display-cards-container .display-cards-list .display-blue{
    background-color: blue;
}


.display-cards-container .display-cards-list .display-card-title-default{
    font-size: 30px;
    color: black;
} 

.display-cards-container .display-cards-list .display-card-text-default{
    font-size: 17px;
    color: black;
}


.display-cards-container .display-cards-list .display-card-title-override{
    font-size: 30px;
    color: white;
} 

.display-cards-container .display-cards-list .display-card-text-override{
    font-size: 17px;
    color: white;
}




/*List Text Displays for Tables to notify status */



.completed-task{
    color:blue
}

.unCompleted-task{
    color:red
}

/* Action Boxes Starts here */

.action-cards-container  {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 40px;

}
  

.action-cards-container  .action-cards-list{
    display: block;
    background:white
}


.action-cards-container .action-cards-list .action-cards-boxes{
    width: 500px;
    height: 200px;
    box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79);
    padding: 20px;
    border-radius: 4px;
    display: flex;
}

.action-cards-container .action-cards-list .action-cards-boxes .action-cards-text-section{
    width: 65%;
    position: relative;
    align-items: center;
    display: flex;
    padding: 5px
}

.action-cards-container .action-cards-list .action-cards-boxes .action-cards-text-section .action-cards-text{
    padding: 20px;
    text-align: left;
    font-size :24px;
}

.action-cards-image-section{
    width: 35%;
    position: relative;
    align-items: center;
    display: flex;
    padding: 5px
}

.action-cards-image{
    max-width: 100%;
    height: 120px;
}


/* Action Boxes ends  here */


/* Media Query */
@media (max-width: 500px) {
    .display-cards-container  {
        display: grid;
        grid-gap: 20px;
        padding: 0;
        list-style: none;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 0px;
      }
      
      .display-cards-container .display-cards-list {
        display: block;
        text-decoration: none; 
        text-align: right;
        background-color: white;
        
    }
    
    .display-cards-container .display-cards-list .display-cards-box{
        width: 300px; 
        height: 100px; 
        box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79); 
        padding: 20px; 
        border-radius: 4px ; 
    }    

    .display-cards-container .display-cards-list .display-card-title-default{
        font-size: 20px;
        color: black;
    } 
    
    .display-cards-container .display-cards-list .display-card-text-default{
        font-size: 14px;
        color: black;
    }
    
    
    .display-cards-container .display-cards-list .display-card-title-override{
        font-size: 20px;
        color: white;
    } 
    
    .display-cards-container .display-cards-list .display-card-text-override{
        font-size: 14px;
        color: white;
    }


    /* Action Boxes */
    .action-cards-container  {
        display: grid;
        grid-gap: 20px;
        padding: 0;
        list-style: none;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 10px;
    
    }
      
    
    .action-cards-container  .action-cards-list{
        display: block;
        background:white
    }
    
    
    .action-cards-container .action-cards-list .action-cards-boxes{
        width: 300px;
        height: 100px;
        box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79);
        padding: 20px;
        border-radius: 4px;
        display: flex;
    }
    
    .action-cards-container .action-cards-list .action-cards-boxes .action-cards-text-section{
        width: 65%;
        position: relative;
        align-items: center;
        display: flex;
        padding: 5px
    }
    
    .action-cards-container .action-cards-list .action-cards-boxes .action-cards-text-section .action-cards-text{
        padding: 14px;
        text-align: left;
        font-size :16px;
    }
    
    .action-cards-image-section{
        width: 35%;
        position: relative;
        align-items: center;
        display: flex;
        padding: 5px
    }
    
    .action-cards-image{
        max-width: 100%;
        height: 90px;
    }
    

    /* Action boxes ends here */
    
}


@media (max-width: 700px) {
    .display-cards-container  {
        display: grid;
        grid-gap: 20px;
        padding: 0;
        list-style: none;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 0px;
      }
      
      .display-cards-container .display-cards-list {
        display: block;
        text-decoration: none; 
        text-align: right;
        background-color: white;
        
    }
    
    .display-cards-container .display-cards-list .display-cards-box{
        width: 300px; 
        height: 100px; 
        box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79); 
        padding: 20px; 
        border-radius: 4px ; 
    }    

    .display-cards-container .display-cards-list .display-card-title-default{
        font-size: 20px;
        color: black;
    } 
    
    .display-cards-container .display-cards-list .display-card-text-default{
        font-size: 14px;
        color: black;
    }
    
    
    .display-cards-container .display-cards-list .display-card-title-override{
        font-size: 20px;
        color: white;
    } 
    
    .display-cards-container .display-cards-list .display-card-text-override{
        font-size: 14px;
        color: white;
    }
    
}