.new-cards-container{
    display: grid;
    /* grid-gap: 10px; */
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    /* margin: 20px; */
}


.new-cards-container .new-cards-list {
    display: block;
    text-decoration: none; 
    text-align: right;
    background-color: green;
    color: white;
    margin: 10px;
}

.new-cards-list h3{
    color: white;
}

.new-cards-container .new-cards-list .new-cards-box{
    width: 300px; 
    height: 130px; 
    /* box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79);  */
    padding: 20px; 
    border-radius: 4px ;
}

.dashboard-content-fitter{
    margin: 20px;
}

.demo-boxes{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.demo-card-box{
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: left;
    color: black;
    font-size: 1.1rem;
    box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79);
    border-radius: 12px;
}

.demo-card-box-content{
    padding: 20px;
}

.demo-card-text{
    font-size: 14px;
    color: grey;
}

.demo-card-box-button{
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(6, 155, 38);
    border-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 200px;
    height: 48px;
    color: white;
    padding: 0px 0px 0px 0px;
    border-radius: 3px;
}

.MuiPaper-elevation1{
    display: inline !important;
}



/* User Upload Page */

.intro-header-content{
    width: 100%;
    padding:20px;
}

.intro-header-content p{
    font-size: 1rem;
}

.user-upload-custom-button{
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(6, 155, 38);
    border-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 200px;
    height: 48px;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 3px
}

@media (max-width: 769px){
    .new-cards-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .new-cards-container .new-cards-list .new-cards-box{
        width: 500px; 
        height: 130px; 
        box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79); 
        padding: 20px; 
        border-radius: 4px ;
    }

    /* .page-grid{
        grid-template-columns: 1fr;
    } */
}

@media (max-width: 520px){
    .new-cards-container {
        grid-template-columns: 1fr;
      }

      .campaignbox-section{
        grid-template-columns: 1fr;
      }

      .page-grid{
        grid-template-columns: 1fr;
    }

      /* .demo-boxes{
          margin: 20px;
        grid-template-columns: 1fr;
      } */
}

@media (max-width: 320px){
    .new-cards-container {
        grid-template-columns: 1fr;
      }

      .campaignbox-section{
        grid-template-columns: repeat(1, 1fr);  
        }

        .page-grid{
            grid-template-columns: 1fr;
        }
}