.web-creator-buttons-container  {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
  }
  
.web-creator-buttons-container .web-creator-buttons-list{

    display: block;
    text-decoration: none;

    text-transform: uppercase;
    
}


  .web-creator-buttons-container .web-creator-buttons-list .web-creator-buttons   {
    background-color: rgb(6, 155, 38);
    border-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 200px;
    height: 48px;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
   
  }

  .web-creator-buttons-container .web-creator-buttons-list .web-creator-buttons2   {
    background-color:white ;
    border:2px solid rgb(6, 155, 38);
    font-weight: 500;
    font-size: 16px;
    width: 200px;
    height: 48px;
    color: rgb(6, 155, 38);
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
   
  }
  

  
@media (max-width: 700px){
    .web-creator-buttons-container{
        grid-template-columns: repeat(1,1fr);
        
    }

    .web-creator-buttons-container .web-creator-buttons-list{
        background: var(--primary);
        display: block;
        text-decoration: none;
    
        text-transform: uppercase;
        
    }
    
    
      .web-creator-buttons-container .web-creator-buttons-list .web-creator-buttons   {
        background-color: rgb(6, 155, 38);
    border-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 200px;
    height: 48px;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
       
      }
    
      .web-creator-buttons-container .web-creator-buttons-list .web-creator-buttons2   {
        background-color: rgb(6, 155, 38);
        border-color: #fff;
        font-weight: 500;
        font-size: 16px;
        width: 200px;
        height: 48px;
        color: white;
        padding: 10px 10px 10px 10px;
        border-radius: 3px;
       
      }
      

}