.info-cards-container  {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
  }
  
.info-cards-container .info-cards-list {
    background: var(--primary);
    display: block;
    text-decoration: none; 
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.info-cards-container .info-cards-list .info-green{
    background-color: green;
}

.info-cards-container .info-cards-list .info-red{
    background-color: red;   
}

.info-cards-container .info-cards-list .info-blue{
    
}


.info-cards-container .info-cards-list .infocard-title{
    font-size: 30px;
    color: white;
} 

.info-cards-container .info-cards-list .infocard-text{
    font-size: 17px;
    color: white;
}

