/* Nav */

.navbar-button{
  font-size: 1.1rem;
  background-color: rgb(6, 155, 38);
  color: white;
  height: 100%;
  margin: auto;
}

/* Half Contents */
.half-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  margin-top: 5rem;
  /* margin-bottom: 10px; */
}

.h-box-text {
  font-size: 1.3rem;
  font-weight: 200;
}

.slider-fitter {
  margin-top: 3rem;
}

.half-box {
  /* border: 2px solid #ccc; */
  /* width: 100%; */
  /* padding:20px */
}

.half-box-1 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ffffff;
  color: white;
  text-align: center;
  /* height: 350px; */
  padding: 1px;
}

.half-box-1 h1,
.half-box-2 h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  /* padding-top: 10rem; */
}

.half-box-2 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ffffff;
  color: white;
  /* height: 350px; */
  text-align: center;
  padding: 1px;
}

.half-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 40px;
}

.half-content-boxes {
  /* padding: 20px; */
  padding-top: 20px;
  font-size: 1rem;
  text-align: center;
}
/* 
  .half-box-content:hover{
    text-decoration: underline;
  } */

.half-content-text {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}

.half-content-text:hover {
  text-decoration: underline;
}

.icon-spacer {
  /* padding-left: 80px; */
  /* padding-right: 40px; */
  padding: 20px;
}
/* .icon-spacer:hover{
    border-bottom: 2px solid white ;
    text-decoration:underline; 
  } */

.ic-edit {
  font-size: 5rem;
  font-weight: 100;
}

/* Ends here */

/* products listings on homepage */
.products-fluid-container {
  padding: 0px 15px 0px 15px;
}

.p-box {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
}

.product-heading {
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
}

.p-container {
  display: grid;
  grid-gap: 50px;
  /* padding:100px; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 20px 0px 0px 0px;

  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.p-card {
  height: 430px;
  width: 250px;
  margin-top: 10px;
  overflow: visible;
  background-color: #ffffff;
  border-radius: 10px;
  /* border: 2px solid green; */
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.08);
  margin-right: 10px;
  margin-left: 10px;
}

.p-image {
  padding: 10px;
  width: 247px;
}

.p-image .p-item-image {
  height: 200px;
}

.p-info {
  display: block;
  padding: 0px;
  font-size: 1rem;
}

.p-name {
  margin: 0px 0px 20px 0px;
}

.p-name .p-name-title {
  font-size: 18px;
  font-weight: 200;
  height: 20px;
  color: black;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p-info-2 {
  margin-top: 30px;
}

.p-info-2 .f-product-seller {
  color: rgb(34, 177, 34);
  font-size: 15px;
  font-weight: 400;
}

.p-info-2 .f-product-price {
  font-size: 15px;
  font-weight: 400;
  color: black;
  margin: 0px;
}

.p-info-2 .f-product-button {
  background-color: white;
  margin-top: 20px;
  border: 1px solid rgb(6, 155, 38);
  font-weight: 500;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  height: 40px;
  color: rgb(6, 155, 38);
  border-radius: 4px;
  text-align: center;
}

.p-info-2 .f-product-button :hover {
  background-color: rgb(6, 155, 38);
  border: 0px solid rgb(6, 155, 38);
  font-weight: 500;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  height: 40px;
  color: white;
  border-radius: 4px;
  text-align: center;
}

.p-info-2 .f-product-button .f-product-button-name {
  padding: 10px 10px 10px 10px;
}

.see-more-container {
  padding: 20px;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.see-more {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: rgb(6, 155, 38);
}

.see-more-button {
  background-color: rgb(34, 177, 34);
  border-color: #fff;
  font-weight: 500;
  font-size: 16px;
  width: 200px;
  height: 48px;
  color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
}

/* Search Box */
.search-fitter {
  /* border: 2px solid yelloq; */
  /* margin: 5px 10px 5px 10px; */
  /* margin-top: 10px; */
  /* padding: 20px 40px 20px 40px; */
}

.search-bar {
  /* margin-top: 30px; */
  /* margin-left: 30%; */
  /* padding: 0px 150px 0px 150px; */
  /* width: 200px; */
  /* border-top: 1px solid rgb(230, 226, 226); */
  /* width: 100%; */
  margin-top: 1rem;
  margin-bottom: 20px;
  text-align: center;
}

.search-bar .search-bar-intro-header {
  text-align: center;
  font-size: 30px;
}

/* Slider */
.res-slide {
  padding: 10px;
  margin-top: 10px;
  max-width: 1100px;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1 !important;
}

/* homepage info-cards */
.tiles {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tiles .tiles-list {
  display: block;
  text-decoration: none;
  padding: 1rem;
  text-align: left;
  color: black;
  font-size: 1.1rem;
  /* box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79); */
  border-radius: 12px;
}

.tiles .tiles-list .tiles-upper-content {
  font-size: 38px;
  /* margin: 0px 0px 17px 0px; */
  /* padding: 20px; */
}

.tiles .tiles-list .tiles-upper-content h3 {
  font-size: 1rem;
}

.tiles .tiles-list .tiles-upper-content p {
  font-size: 1rem;
}

.tiles-upper-lower p {
  font-size: 1rem;
  color: rgb(34, 177, 34);
  /* padding-left: 30px;
    padding-bottom: 20px;   */
}

.tiles .tiles-list .tiles-lower-content p {
  font-size: 1rem;
  padding-left: 30px;
  padding-bottom: 20px;
}

/* Signup-Section */

.signUp-section {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  background-color: whites;
}

.signUp-section .signUp-field {
  display: block;
  text-decoration: none;
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.signUp-section .signUp-field .signUp-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.signUp-section .signUp-field .signUp-container-header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  color: black;
  font-family: "HCo Gotham", sans-serif;
}

.signUp-section .signUp-field .signUp-button {
  text-align: center;
  background-color: rgb(6, 155, 38);
  border-color: #fff;
  font-weight: 500;
  font-size: 16px;
  width: 200px;
  height: 48px;
  color: white;
  padding: 0px 0px 0px 0px;

  margin: 0px 0px 30px 0px;
  border-radius: 5px;
}

/* Footer */

.k-footer {
  display: grid;
  margin-top: 20px;
  grid-gap: 20px;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  padding: 20px;
  background-color: black;
}

.k-footer-box {
  display: block;
  /* border: 1px solid #ccc; */
  color: white;
  /* box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); */
  padding: 20px;
  font-size: 1rem;
  /* height: 20px; */
  text-align: left;
}

/* Search Box */

.search-box-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  padding: 10px;
  /* align-content: center; */
}

.search-box-1 {
  width: 100%;
  text-align: center;
  padding: 1.5rem 2rem;
}

.search-box-text-p{
  color: #000000;
  font-size: 1rem;
  text-align: center;
}

.search-box-header-text{
  text-align: center;
  font-size: 2rem;
}



/* Product Cards */
.home-products-card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  border: 1px solid gray;
  max-width: 300px;
  text-align: left;
  font-family: arial;
  padding: 10px;
  /* margin: auto; */
  /* margin-left: 20px; */
  z-index: -1;
  margin: 10px;
}


.home-products-card-img{
  height: 300px;
  width: 100%;
}

.home-products-card-img img{
  height: inherit;
  width: fit-content;
}

.home-products-card-name {
  color: #000000;
  font-size: 1.1rem !important;
  font-weight: 600;
  padding: 2px !important;
  margin: 3px !important;
}

.home-products-card-price {
  color: rgb(0, 0, 0);
  font-size: 1.3rem !important;
  padding: 2px !important;
  margin: 3px !important;

}

.home-products-card-seller {
  color: rgb(0, 0, 0);
  font-size: 1rem !important;
  padding: 2px !important;
  margin: 3px !important;

}

.home-products-card-button {
  /* border: none; */
  outline: 0;
  padding: 12px;
  color: #000000;
  background-color: #fff;
  border: 1px solid rgb(6, 155, 38);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.home-products-card-button:hover {
  opacity: 0.7;
}

.home-product-card-grid{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
}

.product-item-container{
  max-width: 1140px;
  min-width: 320px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  /* margin-left: 20px; */
}

.slick-list{
  z-index: -1;
}

/* End of Homepage */

/* Marketplace */

.filter-bar {
  margin: 20px;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
  padding: 200px;
}

.filter-bar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.filter-bare a:hover {
  color: #064579;
}

@media screen and (max-height: 450px) {
  .filter-bar {padding-top: 15px;}
  .filter-bar a {font-size: 18px;}
}

.marketplace-flex{
  display: flex;
  align-items: stretch;
  padding: 20px;
  margin: 5rem;
}

.marketplace-flex-a{
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  width: 10%;
  z-index: -1;
  position: sticky;

}

.marketplace-flex-b{
  flex-grow: 8;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  color: #000000;
  padding: 2rem;
}

.marketplace-item-grid{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.marketplace-item-card{
  /* border: 1px solid grey; */
  padding: 1rem;
}

.marketplace-item-img{
  height: 300px;
  width: 100%;
}

.marketplace-item-img img{
  height: inherit;
  width: fit-content;
}

.marketplace-item-name{
  color: #000000;
  font-size: 1.1rem !important;
  font-weight: 600;
  padding: 2px !important;
  margin: 3px !important;
}

.marketplace-item-price{
  color: rgb(0, 0, 0);
  font-size: 1.3rem !important;
  padding: 2px !important;
  margin: 3px !important;
}

.marketplace-item-seller{
  color: rgb(0, 0, 0);
  font-size: 1.3rem !important;
  padding: 2px !important;
  margin: 3px !important;
}

.marketplace-item-button {
  outline: 0;
  padding: 12px;
  color: #000000;
  background-color: #fff;
  border: 1px solid rgb(6, 155, 38);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
